
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.flexContainer{
  display: flex;  
}

.dice{
  display:flex;
  flex-direction: row;
  border-radius: 18px;
  width: 200px;
  height: 200px;
  margin: 15px;
  background-color: rgb(44, 44, 199);
  font-size: 32px;
  justify-content: center;
  align-items:center;
}


