
body {
  margin: 50px;
}

.container{
  display: flex;  
  padding: 10px; 
}

.diceContainer{  
  display: flex;
  width: 25%;
  padding: 20px;  
}

button {  
  width: 100px;
  margin-left: 100px;
  padding: 10px;
  color:white;
  background-color:purple;
  font-weight: bold;
}

.dice {
font-size:100px;
color:purple;
}




