:root {
        --ic-brand-primary-darkened-5: #E29D52;
--ic-brand-primary-darkened-10: #D6954E;
--ic-brand-primary-darkened-15: #CA8D4A;
--ic-brand-primary-lightened-5: #EDA95E;
--ic-brand-primary-lightened-10: #EEAE66;
--ic-brand-primary-lightened-15: #EFB26F;
--ic-brand-button--primary-bgd-darkened-5: #008FD1;
--ic-brand-button--primary-bgd-darkened-15: #0080BB;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0080CC;
--ic-link-color-lightened-10: #1999E4;
--ic-brand-primary: #eda556;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #008EE2;
--ic-brand-button--primary-bgd: #0096db;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #384854;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: #384854;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #384854;
--ic-brand-global-nav-avatar-border: #384854;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #384854;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_39750000000000001/attachments/278290/LB-logo.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_39750000000000001/attachments/509/lb_favicon-01.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1912869708&Signature=4t783jgKNkPcL2guBd8BpvU3yOs%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_39750000000000001/attachments/503/Bryan-Subbrand-Logos_01-02.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1912869240&Signature=IkS%2FUfaz4joB7bFBeZnMgc1Anio%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-color: #fffffc;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_39750000000000001/attachments/503/Bryan-Subbrand-Logos_01-02.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1912869240&Signature=IkS%2FUfaz4joB7bFBeZnMgc1Anio%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_39750000000000001/attachments/503/Bryan-Subbrand-Logos_01-02.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1912869241&Signature=smADtedwgMeePU0ydMCKSiEzvHA%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }